@import 'partials/vars';
@import 'partials/colors';
@import 'partials/presets';

@import 'utils/color';
@import 'utils/mixins';

@import 'animations/shine';

@import 'componets/workspace';
@import 'componets/button';
@import 'componets/cart';
@import 'componets/products/list';
@import 'componets/products/search';
@import 'componets/products/detail';



body {
  font-family: $font;
  color: color(text)
}

.hidden {
  visibility: hidden;
}

.row {
  @include d-flex();
  flex-flow: row;
  align-items: center;
}