@import 'partials/vars';
@import 'partials/colors';
@import 'partials/presets';

@import 'utils/color';
@import 'utils/mixins';

@import 'animations/shine';

@import 'componets/workspace';
@import 'componets/products';



body {
  font-family: $font;
  color: color(text)
}

.hidden {
  visibility: hidden;
}